.administration-head{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.administration-head a{
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.button-head{
  width: 250px;
  height: 40px;
  background-color: black;
  color: white;
  border-color: 2px black;
  border-radius: 5px;
}

.button-head:hover{
  background-color: #EA1F25;
  color:black;
  border-color: 2px black;
}

.list-allentries{
  padding-left: 0px;
}

.list-allentries li{
  display: grid;
  grid-template-columns: 25% 35% 30% 10%;
  padding: 10px 0px;
  justify-content: space-between;
}

.list-allentries img{
  width: 50px;
  height: 50px;
  margin-left: auto;
}

.list-allentries div{
  padding: 5px 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.list-allentries p{
  font-size: 18px;
  margin: auto;
  font-weight: bold;
}

.list-allentries li:nth-child(odd){
  background-color: #E6E6E6; 
}

.list-allentries ol{
  display: grid;
  grid-template-columns: 25% 35% 30% 10%;
  padding: 10px 0px;
  justify-content: space-between;
  background-color: #EA1F25;
  color: white;
}


.administration-date{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.administration-counter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 250px;
}/*
.administration-counter p{
  padding-left: 30px;
}*/

.energy-consumption{
  display: grid;
  grid-template-columns: 20% 80%;
}
/*
.p-energy-consumption{      //margin h2 off!
  display: flex;
  flex-direction: column;
}*/
/*
.p-energy-consumption p{    //Fragliche Funktion
text-align: left;
margin: 0px;
}*/


.p-energy-consumption h2{
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
}
/*//LI^^*/

.administration-counter-total{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 250px;
}/*
.administration-counter p{
  padding-left: 30px;
}*/

.energy-consumption-total{
  display: grid;
  grid-template-columns: 20% 80%;
}
/*
.p-energy-consumption{      //margin h2 off!
  display: flex;
  flex-direction: column;
}*/
/*
.p-energy-consumption p{    //Fragliche Funktion
text-align: left;
margin: 0px;
}*/


.p-energy-consumption-total h2{
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
}
/*
//ALT*/

/*
.administration-counter-total p{
  text-align: justify left;
}

.energy-consumption-total{
  display: grid;
  width: 300px;
  height: 71px;
  grid-template-columns: 20% 80%;
  margin-left: 30px;
}

.p-energy-consumption-total{
  display: flex;
  flex-direction: column;
  
}

.p-energy-consumption-total h2{
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
}

.administration-counter-total{
  display: grid;
  grid-template-columns: 1fr 1fr;
}*/


